body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;    
}
header{
    padding: 0.5rem 1rem;
    /*background: #0747A6;*/
    margin-bottom: 5px;
	background: #feb748;
    background: -webkit-linear-gradient(left, #feb748, #f93d66);
    background: linear-gradient(to right, #feb748 , #f93d66);
    box-shadow: 1px 8px 14px 0px rgba(0, 0, 0, 0.08);
}
nav{
    margin-bottom: 10px;
}
nav a{
    margin-right: 15px;
}
.showurl{
    background: #f93d66;
    border-radius: 50px;
    padding: .5rem 1rem;
    border: 2px solid #ffffffc7;
    color: #ffffffc7;
    font-style: italic;
    font-weight: 100;
    font-size: 0.85rem;
    margin-top: 1px;
}
header a.navbar-brand{
    color: #ffffffbd;
}
header a.navbar-brand span{
    color: #ffffff;
    font-weight: 100;
}
header a.navbar-brand bold{
    color: #ffffffbd;
    font-weight: 700;
}
.alert{
    margin-bottom: 0;
}
.bg-head{
	background: linear-gradient(to top, #feb748 , #f93d66);
}

/*

.divScrollspy {
    height: 300px;
    overflow-y: scroll;
}


  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.project-list > li{
    width:200px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 2em;
    vertical-align: middle;
}
.project-list > button{
    margin-right: 20px;
}
.center-pills{
    display: inline-block; 
}
#spider_content{
    width:100% !important;
    display: none;
}
.syntaxhighlighter {
    width: 100% !important;
    margin: 1em 0 1em 0 !important;
    position: relative !important;
    overflow: auto !important;
    font-size: 1em !important;
    border: 1px solid #808080 !important;
    max-height: 600px;
}*/
